Source: ponyprog
Section: hardware
Priority: optional
Maintainer: Claudio Lanconelli <PonyProg2000@gmail.com>
Build-Depends: debhelper (>= 5.0.0), qmake,
 libqt4-dev (>= 4.8.0), libqtgui4 (>= 4.8.0), libqt4-network (>= 4.8.0), libqtcore4 (>= 4.8.0)

Package: ponyprog
Replaces: ponyprog
Homepage: https://github.com/lancos/ponyprog/
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: 
Description: EEPROM and microcontroller flasher
 
