[Desktop Entry]
Version=1.1
Name=Ponyprog
Comment=EEPROM and microcontroller flasher
TryExec=ponyprog
Exec=ponyprog
Terminal=false
Icon=ponyprog
Type=Application
Categories=Utility;Qt;

